<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Flights!</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <link rel="stylesheet" href="https://d19vzq90twjlae.cloudfront.net/leaflet/v0.7.7/leaflet.css" />
    <script src="https://d19vzq90twjlae.cloudfront.net/leaflet/v0.7.7/leaflet.js"></script>
    <script src="{{ url_for('static', filename='js/AnimatedMarker.js') }}"></script>
	<style type="text/css">
	 	html, body, #map{
	 		height: 80%;
	 		padding: 0;
	 		margin: 0;
	 	}
	</style>
</head>

<body>
    <div class="container">
        <div  class="jumbotron" style="text-align: center" >
            <h1>Airports</h1>
            <p>Find your Flight</p>
            <div class="col-md-12">
                    <h2><a href="/scrape">Scrape the day of your flight here!</a></h2>
            </div>
            <div class="col-md-12">
                    <h2><a href="/table">Check out the Table!</a></h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h2>Look at all of the current flights!</h2>
                <div id="plot"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h2><a href="/send">Add your flight record here!</a></h2>
            </div>
        </div>
    </div>
    <select class = "dates1" id="dates1" onchange="this.value" >
            {% for z in result %}
            <option value="{{z}}">{{z}}</option>
            {% endfor %}
    </select>
        <select class = "airline1" id="oferta1" onchange="this.value" >
            <option value="AMX">AEROMEXICO</option>
            <option value="AVI">AVIANCA</option>
            <option value="UAL">UNITED</option>
     
        </select>
        <select class= "destination1" id="respuesta1" onchange="this.value" >
            <option value="LAX">LAX Los Angeles</option>
            <option value="YUL">YUL Montreal</option>         
            <option value="SFO">SFO San Francisco</option>
            <option value="MIA">MIA Miami</option>
            <option value="JFK">JFK Nueva York</option>
            <option value="MCO">MCO Orlando</option>
            <option value="ORD">ORD Chicago</option>
            <option value="CUN">CUN Cancun</option>
            <option value="MAD">MAD Madrid</option>
            <option value="YYZ">YYZ Toronto</option>
            <option value="BCN">BCN Barcelona</option>
            <option value="MUC">MUC Munich</option>
            <option value="MEX">MEX Mexico</option>
            <option value="LAS">LAS Las Vegas</option>
            <option value="YBM">YBM Bronson Creek Canada</option>
            <option value="EWR">EWR Nueva Jersey</option>
            <option value="LGA">LGA La Guardia Nueva York</option>      
       </select>

       <select class = "dates2" id="dates2" onchange="this.value" >
        {% for z in result %}
        <option value="{{z}}">{{z}}</option>
        {% endfor %}
        </select>

       <select class = "airline2" id="oferta2" onchange="this.value" >
        <option value="AVI">AVIANCA</option>
        <option value="AMX">AEROMEXICO</option>
        <option value="UAL">UNITED</option>
    </select>
        <select class= "destination2" id="respuesta2" onchange="this.value" >
            <option value="LAX">LAX Los Angeles</option>
            <option value="YUL">YUL Montreal</option>         
            <option value="SFO">SFO San Francisco</option>
            <option value="MIA">MIA Miami</option>
            <option value="JFK">JFK Nueva York</option>
            <option value="MCO">MCO Orlando</option>
            <option value="ORD">ORD Chicago</option>
            <option value="CUN">CUN Cancun</option>
            <option value="MAD">MAD Madrid</option>
            <option value="YYZ">YYZ Toronto</option>
            <option value="BCN">BCN Barcelona</option>
            <option value="MUC">MUC Munich</option>
            <option value="MEX">MEX Mexico</option>
            <option value="LAS">LAS Las Vegas</option>
            <option value="YBM">YBM Bronson Creek Canada</option>
            <option value="EWR">EWR Nueva Jersey</option>
            <option value="LGA">LGA La Guardia Nueva York</option>
            <option value="">(vacio)</option>
        </select>

        <select class = "dates3" id="dates3" onchange="this.value" >
            {% for z in result %}
            <option value="{{z}}">{{z}}</option>
            {% endfor %}
        </select>

        <select class = "airline3" id="oferta3" onchange="this.value" >
            <option value="UAL">UNITED</option>
            <option value="AMX">AEROMEXICO</option>
            <option value="AVI">AVIANCA</option>

        </select>
        <select class= "destination3" id="respuesta3" onchange="this.value" >
            <option value="LAX">LAX Los Angeles</option>
            <option value="YUL">YUL Montreal</option>         
            <option value="SFO">SFO San Francisco</option>
            <option value="MIA">MIA Miami</option>
            <option value="JFK">JFK Nueva York</option>
            <option value="MCO">MCO Orlando</option>
            <option value="ORD">ORD Chicago</option>
            <option value="CUN">CUN Cancun</option>
            <option value="MAD">MAD Madrid</option>
            <option value="YYZ">YYZ Toronto</option>
            <option value="BCN">BCN Barcelona</option>
            <option value="MUC">MUC Munich</option>
            <option value="MEX">MEX Mexico</option>
            <option value="LAS">LAS Las Vegas</option>
            <option value="YBM">YBM Bronson Creek Canada</option>
            <option value="EWR">EWR Nueva Jersey</option>
            <option value="LGA">LGA La Guardia Nueva York</option>
            <option value="">(vacio)</option>
        </select>

        <button name="App" value="submit" onclick="buildPlot1();" >Submit</button>
      </p>
    
    
      <div id="plot2"></div>
      <div id="map"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.js"></script>
    <script src="{{ url_for('static', filename='js/plots.js') }}"></script>

</body>

</html>
