<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Table of Flights</title>

    <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
        crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <body>
            <div class="container"></div>
                      <div class="col-md-2">
                        <aside class="filters">
                          <div class="panel panel-default">
                            <div class="panel-heading">Filter Search</div>
                                    <div class="panel-body">
                                        <form method="POST"  role="form", name="petform">
                                            <div class="form-group"></div>
                                                <ul class="list-group" id="filters">
                                                        <li class="filter list-group-item">
                                                                <select class = "inputUno" id="inputUno" onchange="this.value" name="petUno">
                                                                        <option value="">(Date)</option>
                                                                        {% for y in uno %}
                                                                        <option value="{{y}}">{{y}}</option>
                                                                        {% endfor %}
                                                                </select>

                                                                <select class = "inputUhora_salida" id="inputUhora_salida" onchange="this.value" name="petUhora_salida">
                                                                        <option value="">(Departure Time)</option>
                                                                        {% for y in uhora_salida %}
                                                                        <option value="{{y}}">{{y}}</option>
                                                                        {% endfor %}
                                                                </select>
                                                                <select class = "inputUdestino" id="inputUdestino" onchange="this.value" name="petUdestino">
                                                                        <option value="">(Destination)</option>
                                                                        {% for y in udestino %}
                                                                        <option value="{{y}}">{{y}}</option>
                                                                        {% endfor %}
                                                                </select>
                                                                <select class = "inputUdesde" id="inputUdesde" onchange="this.value" name="petUdesde">
                                                                        <option value="">(Fee)</option>
                                                                        {% for y in udesde %}
                                                                        <option value="{{y}}">{{y}}</option>
                                                                        {% endfor %}
                                                                </select>
                                                                <select class = "inputUname" id="inputUname" onchange="this.value" name="petUname">
                                                                        <option value="">(Airline)</option>
                                                                        {% for y in uname %}
                                                                        <option value="{{y}}">{{y}}</option>
                                                                        {% endfor %}
                                                                </select>
                                                                <select class = "inputUlat" id="inputUlat" onchange="this.value" name="petUlat">
                                                                        <option value="">(Latitud)</option>
                                                                        {% for y in ulat %}
                                                                        <option value="{{y}}">{{y}}</option>
                                                                        {% endfor %}
                                                                </select>
                                                                <select class = "inputUlon" id="inputUlon" onchange="this.value" name="petUlon">
                                                                        <option value="">(Longitud)</option>
                                                                        {% for y in ulon %}
                                                                        <option value="{{y}}">{{y}}</option>
                                                                        {% endfor %}
                                                                </select>
                                                                <select class = "inputUdmxn" id="inputUdmxn" onchange="this.value" name="petUdmxn">
                                                                        <option value="">(Exchange Rate Date)</option>
                                                                        {% for y in udmxn %}
                                                                        <option value="{{y}}">{{y}}</option>
                                                                        {% endfor %}
                                                                </select>
                                                                <select class = "inputUmxn" id="inputUmxn" onchange="this.value" name="petUmxn">
                                                                        <option value="">(Exchange Rate)</option>
                                                                        {% for y in umxn %}
                                                                        <option value="{{y}}">{{y}}</option>
                                                                        {% endfor %}
                                                                </select>









                                                                <div class="form-group">
                                                                        <label for="inputName">Flight Airline Name</label>
                                                                        <input type="text" class="form-control" id="inputName" name="petName" >
                                                                </div>
                                                                <div class="form-group">
                                                                        <label for="inputLat">Destination Location Lat</label>
                                                                        <input type="text" class="form-control" id="inputLat" name="petLat" >
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="inputLon">Destination Location Lon</label>
                                                                        <input type="text" class="form-control" id="inputLon" name="petLon" >
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="inputNo">Destination Record Date</label>
                                                                        <input type="text" class="form-control" id="inputNo" name="petNo" >
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="inputHora_salida">Departure Time</label>
                                                                        <input type="text" class="form-control" id="inputHora_salida" name="petHora_salida" >
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="inputOrigen">Airport of Departure</label>
                                                                        <input type="text" class="form-control" id="inputOrigen" name="petOrigen" >
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="inputDestino">Airport of Arrival</label>
                                                                        <input type="text" class="form-control" id="inputDestino" name="petDestino" >
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="inputHora_llegada">Arrival Time</label>
                                                                        <input type="text" class="form-control" id="inputLon" name="petHora_llegada" >
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="inputDesde">Price ($) </label>
                                                                        <input type="text" class="form-control" id="inputDesde" name="petDesde" >
                                                                    </div>
                                                                    <div class="form-group">
                                                                            <label for="inputDmxn">Date </label>
                                                                            <input type="text" class="form-control" id="inputDmxn" name="petDmxn" >
                                                                    </div>
                                                                    <div class="form-group">
                                                                            <label for="inputMxn">Amount </label>
                                                                            <input type="text" class="form-control" id="inputMxn" name="petMxn" >
                                                                    </div>
                                                            </li>    
                                                </ul>
                                            </div>
                                            <input type="submit" value="submit" class="btn btn-default">
                                        </form>
                                    </div>
                            </div>
                          </div>
                        </aside>
                      </div>
                    </div>
            <div class="container">
                    <div style="background:white", class="jumbotron">
                    <div class="row row-grid">
                                        <h1><font color="green">Data</font></h1>
                                        <hr></font>
                                        <br>
                                        <p>The following table includes all of the data used for plotting during this project </p>
                        <table border="0" cellpadding="0" cellspacing="0" id="sheet0" class="table table-striped">
                                <col class="col0">
                                <col class="col1">
                                <col class="col2">
                                <col class="col3">
                                <col class="col4">
                                <col class="col5">
                                <col class="col6">
                                <col class="col7">
                                <col class="col8">
                                <col class="col9">
                                <col class="col10">
                                <col class="col11">
                        <tbody>
                        <tr class="row0">
                                <td class="column0">&nbsp;</td>
                                <td class="column1 style0 s"><b>Fecha</b></td>
                                <td class="column2 style0 s"><b>Hora_salida</b></td>
                                <td class="column3 style0 s"><b>Origen</b></td>
                                <td class="column4 style0 s"><b>Destino</b></td>
                                <td class="column5 style0 s"><b>Hora_llegada</b></td>
                                <td class="column6 style0 n"><b>Desde</b></td>
                                <td class="column7 style0 s"><b>Aerolinea</b></td>
                                <td class="column8 style0 n"><b>Lat</b></td>
                                <td class="column9 style0 n"><b>Lon</b></td>
                                <td class="column10 style0 s"><b>Dmxn</b></td>
                                <td class="column11 style0 n"><b>Mxn</b></td>
                        </tr>
                        {% for z in result0 %}
                        <tr class="row{{ loop.index }}">
                                <td class="column0 style0 n">{{ loop.index }}</td>

                                <td class="column1 style0 n">{{z.no}}</td>

                                <td class="column2 style0 n">{{z.hora_salida}}</td>
                                <td class="column3 style0 s">{{z.origen}}</td>
                                <td class="column4 style0 s">{{z.destino}}</td>
                                <td class="column5 style0 n">{{z.hora_llegada}}</td>
                                <td class="column6 style0 n">{{z.desde}}</td>
                                <td class="column7 style0 n">{{z.name}}</td>
                                <td class="column8 style0 n">{{z.lat}}</td>
                                <td class="column9 style0 n">{{z.lon}}</td>
                                <td class="column10 style0 n">{{z.dmxn}}</td>
                                <td class="column11 style0 n">{{z.mxn}}</td>

                        {% endfor %}
                        </tr>
                        </tbody>
                        </table>

                    </div>
                    </div>
                    </div>
                    <div class="col-md-12">
                            <h2><a href="/">Go back home!</a></h2>
                    </div>
                    </body>


</html>
